*{
    background-color: beige;
    font-family: roboto;
    text-align: center;
}

img{
    width: 150px;
    height: auto;
    float: right;
}

.search{
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid;
}

.stats{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    padding: 10px;
}

h1{
    background-color: darkolivegreen;
    color: white;
    margin: 0;
}